@import "../../styles/variables";

.card {
  background: $bg-white;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  
  .iconWrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    
    &.users { background: rgba(223, 24, 255, 0.1); }
    &.active { background: rgba(87, 24, 255, 0.1); }
    &.loans { background: rgba(245, 95, 68, 0.1); }
    &.savings { background: rgba(255, 51, 102, 0.1); }
  }
}