@import "../../../styles/variables.module.scss";

.statGrid {
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columns like the Figma
    gap: 20px;
    margin-bottom: 40px;
  
    @media (max-width: $breakpoint-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }